.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.mtable {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #dd6f25;
  color: white;
}

.mtable td {
  border: 1px solid #ccc;
  padding: 10px;
}

.mtable {
  border-spacing: 0;
}

.mtable th {
  border: 1px solid #ccc;
  padding: 10px;
}

.my-navigation {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1#title {
  padding-top: 0;
  padding-bottom: 0px !important;
  margin: 0;
  margin-bottom: -20px;
}

/* .mtable tbody tr:nth-child(odd) {
  background: #f3f3f3;
} */

.mtable th {
  background: #dd6f25;

}

form h2 {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.topnav h1#title a:hover {
  background: transparent;
}

a.tender-req-btn {
  background: #dd6f25;
  color: white;
  padding: 7px 18px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0px;
  text-align: center;
  margin: 0 auto;
}

.modal-dialog {
  max-width: 64% !important;
}

#walletButton {
  /* text-align: right; */
  /* float: right; */
  margin-bottom: 0px;
  line-height: 16px;
  margin-top: 6px;
  margin-left: 60px;
}

.container.createtender {
  max-width: 470px;
  background: #ffffffb5;
  padding: 50px;
}

ul.mb-3.nav.nav-tabs {
  margin-top: 90px;
}

.nav-tabs .nav-link.active {
  color: white !important;
  background-color: #dd6f25 !important;

}

.nav-tabs .nav-link {
  background: white !important;
  color: black !important;
}

table.table.table-striped.mtable.all-items {
  margin-top: 90px;
}

p#status {
  word-break: break-word;
}

ul.nav.nav-tabs {
  margin-top: 90px;
}

.tab-content {
  min-height: 360px;
}

html {
  height: 100%;
}

.loader-wrao {
  align-items: center;
  background: #0000008c;
  display: flex;
  height: 100vh !important;
  justify-content: center;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 100% !important;
  z-index: 99999;
  position: absolute;
  top: 0 !important;
  bottom: 0;
}

.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid #F3F3F3;
  border-radius: 50%;
  border-top-color: #3498DB;
  height: 120px;
  width: 120px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}